body
{
	background-color: #424242;
}

.shadow
{
	box-shadow: 10px 10px 5px black;
	border-radius: 20px;
}

.topbox
{
	position: absolute;
	margin-top: 20px;
	margin-left: 100px;
	background: #909090;
	width: 1400px;
	height: 135px;
	clear: both;
}
#dayofthe42
{
	position: relative;
	left: 5px;
	top: 5px;
}

#loupe
{
    position: absolute;
    top: 6%;
    right: 50px;
}
}
#close
{
	position: relative;
	right:10px;
	width: 20px;
	height: 20px;
}
#reload
{
	position: relative;
	right: 10px;
	top: 10px;
	width: 20px;
	height: 20px;
}

.leftbox
{
	position: relative;
	top: 175px;
	left:140px;
	background: #909090;
	width: 130px;
	height: 510px;
}

#leftimg
{
	position: relative;
	left: 20px;
	margin-top:10px;
}
#click
{
	position: relative;
	left: 20px;
	margin-top: 10px;
    border: 6px solid red;
    border-radius: 10px;
}
.centerbox
{
	position: absolute;
	top: 185px;
	left: 300px;
	width: 1045px;
	height: 595px;
	background: #909090;
	border-radius: 20px;
}

#cluster
{
	position: relative;
	left: 10px;
	top: 10px;
}

.rightbox
{
	position: absolute;
	top: 185px;
	left: 1365px;
	background: #909090;
	width: 140px;
	height: 510px;
}

#book
{
	position: relative;
	left: 30px;
	margin-top: 10px;
}

p
{
	position: relative;
	top: 5px;
	font-family: Verdana, serif;
	font-size: 15px;
	left: 10px;
}
.inputbox
{
	background-color: #81F781;
	position: relative;
	top: 200px;
	left: 100px;
	width: 500px;
	height: 170px;
}

#input
{
	position: relative;
	top: 0px;
	left: 5px;
	width: 356px;
}

redshad
{
	text-shadow: 2px 2px 5px red;
}

#submit
{
	position: relative;
	left: 4px;
}