table
{
	width: 100%;
	font-size: 10px;
}
table, th
{
	border: 1px solid black;
	border-collapse: collapse;
}
th
{
	padding: 10px;
	background-color: yellow;
}
th.empty
{
	 background-color: white;
	border: none;
}
.symbole
{
	text-align: center;
	font-size: 2vw;
}
.poids
{
	font-size: 0.7vw;
	text-align: right;
	vertical-align: top;
}
.num
{
	font-size: 0.7vw;
	text-align: left;
	vertical-align: bottom;
}