body
{
    background-color: grey;
}

.button 
{
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown 
{
    position: relative;
    display: inline-block;
}

.deroulant
{
    padding: 10px;
    display: none;
    position: absolute;
    background-color: green;
    min-width: 160px;
    box-shadow: 3px 8px 16px 0px red;
}

.deroulant a 
{
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.deroulant a:hover 
{
    background-color: #f1f1f1;
}

.dropdown:hover .deroulant 
{
    display: block;
}

.dropdown:hover .button
{
    background-color: green;
}

h1
{
    text-align: center;
    font-size: 40px;
    color: green;

}
p
{
    font-size: 20px;
    color: white;
}